---
layout: page
title: "About"
description: "Hey, this is Mike Lyou."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        座右铭
    </blockquote>
    9月21日上午，阳光明媚，鲜花斗艳。<br><br>建立这个博客的目的是分享个人学习心得和笔记。和我发表文学作品的公众号不同，本站侧重于分享学习经验。可能内容的广度会很宽泛，但都将以经验总结的形式呈现，届时我会将他们放在不同的模块下，比如数理知识、科学研究、软件工具等。<br><br>

通过建立博客，归纳和总结学到的知识，以供自己之后查询和使用。同时，开放的博客可以督促我学习，也有机会帮助其他人。我不知道我的博客会有多少，甚至会不会有人来看，但我还是想要提前声明：建议我写某知识的攻略教程是可以的，但不要期望我的回应。这个博客是比较单向分享的，而没有太多互动性，别问为什么，问就是没时间。<br><br>

也许我会开“推荐阅读”这么一个模块，用来转载网络上已经非常成熟的优秀文章。因为这些文章的作者非常专业，并且花费了很多时间写出来极高质量的文章，这种情况下我再写一篇总结就显得没有必要，这时我会直接转载，因为版权问题可能不会转载全文，而是贴出链接，或者给出摘要。<br><br>

对于一些网上攻略繁多复杂但没有我满意的话题，我会自己写一篇。这么做的直接好处就是，我自己用起来很爽（嗯！）当然我会努力让他成为适合分享的攻略啦。<br><br>

希望这个博客可以帮到我自己，也可以帮到你。

    <p style="text-align:right;">
        —— <a href="https://en.wikipedia.org/wiki/Hyperlink">链接示例 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Welcome to Mike Lyou's Blog!
    </p>

    <p>
    Another paragraph.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
