---
layout: page
title: "About"
description: "年轻人想了想，他说陛下我叫：_____"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        做自己，做更好的自己。
    </blockquote>
    本人是哥伦比亚大学材料科学与工程专业的硕士，本科就读于广州中山大学材料物理专业。曾参与江门地下中微子国际合作项目（JUNO），为液体闪烁体灌装和溢流系统设计和编写LabVIEW程序，曾获得LabVIEW助理开发工程师认证（CLAD）。<br><br>

    搭建这个博客的初衷，是给自己找到一个可以放学习笔记的地方，在促进自己学习的同时，也许还能帮到其他人。希望这个博客可以帮到我自己，也可以帮到你。<br><br>

    联系方式：cl3934@columbia.edu, liuch259@qq.com.

    <!--
    <p style="text-align:right;">
        —— <a href="https://en.wikipedia.org/wiki/Hyperlink">链接示例 </a>
    </p>
    -->

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Be yourself, be better than yourself.
    </blockquote>

    <p>
        Hi! I am Mike Lyou, a first-year Master student, majoring in Material Science and Engineering (MSE) at Columbia University (CU).
    </p>

    <p>
       I received my bachelor degree of Materials Science at Sun Yat-sun University (SYSU). Participated in The Jiangmen Underground Neutrino Observatory (JUNO) project, designed and programmed a software system based on LabVIEW. Received Certified Assistant LabVIEW Development Engineer (CLAD).
    </p>

    <p>
        The purpose to build this blog is to find myself a place to post study notes. Writing blogs can encourages myself and maybe would help others at the same time. Hope this blog will help me and you.
    </p>

    <p>
        Feel free to contact me via cl3934@columbia.edu or liuch259@qq.com.
    </p>

    <!--
    <p style="text-align:right;">
    -- Steve Jobs
    </p>
    -->

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
